<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
        <meta name="author" content="Andrew Tabudlo">
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Munder Difflin</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <link rel="stylesheet" href="style.css">

    </head>
    <body>
        <nav>
            <div class="nav-wrapper blue lighten-2">
                <a href="#" class="brand-logo">Munder Difflin</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Staff</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </nav>
        <div id="firstSec">
            <div class="show" id="containerOne">
                <h1>Munder Difflin</h1>
                <h3 class="jumbofont"><em>Your</em> paper, for <em>your</em> printers.</h3>
                <div id="inputContainer">
                    <h4 class="jumbofont" id="newslettertext">Join our newsletter</h4>
                    <input type="form" placeholder="email address" id="mailInput"></input>
                    <button type="submit" name="submit" id="mailSubmit">Submit</button>
                </div>
            </div>
        </div>

        <div id="secondSec">
            <div class="hidden" id="containerTwo">
                <div id="boxOne">
                    <h4>Now Serving International</h4>
                    <p class="promiseP">We are excited to announce that we are now shipping across the globe! Airplane Emoji!</p>
                    <img id="plane" src="images/plane.jpeg">
                </div>
                <div id="boxTwo">
                    <h4>From Tree To Printer</h4>
                    <p class="promiseP">Our paper is made from 100% organic high quality trees grown from the ground up.</p>
                    <img id="tree" src="images/tree.jpeg">
                </div>
                <div id="boxThree">
                    <h4>Quality Over Quantity</h4>
                    <p class="promiseP">Our trees are handled by the best growers on the planet. Then we harvest them for profit.</p>
                    <img id="plant" src="images/plant.jpeg">
                </div>
            </div>
        </div>

        <div id="thirdSec">
            <div class="hidden" id="containerThree">
                <img id="officePic" src="images/office.jpeg">
                <p id="missionP">Our mission is to provide the best paper at the best prices. No matter what kind of budget you have, Munder Difflin has the paper you need. Our paper fits in every printer on the market. Paper is life. Be a man. Do the right thing.</p>
            </div>
        </div>
        <div id="fourthSec">
            <div class="hidden" id="containerFour">
                <img id="officePicTwo" src="images/office1.jpeg">
                <a href="#" id="outOfPaper"><h3>BUY PAPER NOW</h3></a>
            </div>
        </div>

        <footer id="footer">
            	&#169; Munder Difflin 2018
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <script type="text/javascript" src="script.js"></script>
    </body>
</html>
