        <div id="firstSec">
            <div class="show" id="containerOne">
                <h1>Munder Difflin</h1>
                <h3 class="jumbofont"><em>Your</em> paper, for <em>your</em> printers.</h3>
                <div id="inputContainer">
                    <h4 class="jumbofont" id="newslettertext">Join our newsletter</h4>
                    <input type="form" placeholder="email address" id="mailInput"></input>
                    <button type="submit" name="submit" id="mailSubmit">Submit</button>
                </div>
            </div>
        </div>

        <div id="secondSec">
            <div class="hidden" id="containerTwo">
              <div class="row">
                  <div class="col s12 m4">
                    <div class="card">
                      <div class="card-image">
                        <img src="images/plane.jpeg" id="plane">
                        <span class="card-title">Now Serving International</span>
                      </div>
                      <div class="card-content">
                        <p>We are excited to announce that we are now shipping across the globe! Airplane Emoji!</p>
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m4">
                    <div class="card">
                      <div class="card-image">
                        <img id="tree" src="images/tree.jpeg">
                        <span class="card-title">From Tree To Printer</span>
                      </div>
                      <div class="card-content">
                        <p>Our paper is made from 100% organic high quality trees grown from the ground up.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m4">
                    <div class="card">
                      <div class="card-image">
                        <img id="plant" src="images/plant.jpeg">
                        <span class="card-title">Quality Over Quantity</span>
                      </div>
                      <div class="card-content">
                        <p>Our trees are handled by the best growers on the planet. Then we harvest them for profit.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div id="thirdSec">
            <div class="hidden" id="containerThree">
                <img id="officePic" src="images/office.jpeg">
                <p id="missionP">Our mission is to provide the best paper at the best prices. No matter what kind of budget you have, Munder Difflin has the paper you need. Our paper fits in every printer on the market. Paper is life. Be a man. Do the right thing.</p>
            </div>
        </div>
        <div id="fourthSec">
            <div class="hidden" id="containerFour">
              <div class="row">
                <div class="col s12 m6 offset-m3">
                  <div class="card large">
                    <div class="card-image">
                      <img src="images/staff.jpg">
                      <span class="card-title">The Best Team</span>
                    </div>
                    <div class="card-content">
                      <p>Our staff consists of the best of the best in Scranton, PA.</p>
                    </div>
                    <div class="card-action">
                      <a href="/staff">Check out our staff page</a>
                    </div>
                  </div>
                </div>
              </div>
                <div class="row">
                  <a href="#" id="outOfPaper"><h2 class="white-text">BUY PAPER NOW</h2></a>
                </div>
              </div>
        </div>
