<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
        <meta name="author" content="Andrew Tabudlo">
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Munder Difflin</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <link rel="stylesheet" href="style.css">

    </head>

    <body>
      <header>
        <nav>
            <div class="nav-wrapper blue lighten-2">
                <a href="#" class="brand-logo">Munder Difflin</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">About</a></li>
                    <li><a href="/staff">Staff</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </nav>
      </header>
      <main>

          <%= yield %>

      </main>

      <footer class="page-footer blue lighten-2">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Munder Difflin</h5>
              <p class="grey-text text-lighten-4"><em>Your</em> paper, for <em>your</em> printers.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="https://www.youtube.com/watch?v=_YTG9vTkhGs">Link 1</a></li>
                <li><a class="grey-text text-lighten-3" href="https://www.youtube.com/watch?v=h8H_103VGrw">Link 2</a></li>
                <li><a class="grey-text text-lighten-3" href="https://www.youtube.com/watch?v=QJ-jygKYwvQ">Link 3</a></li>
                <li><a class="grey-text text-lighten-3" href="https://www.youtube.com/watch?v=8H16SWHUAuM">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2018 Munder Difflin
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
      </footer>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
      <script type="text/javascript" src="script.js"></script>
  </body>
</html>
