<div class="row">
  <div class="container">
    <div class="col s12 m6 offset-m3">
      <div class="card large">
        <div class="card-image">
          <img src=<%= @staff.pic %>>
           <span class="card-title"></span>
        </div>
        <div class="card-content">
          <ul class="collection with-header">
            <li class="collection-header"><h6><%= @staff.name %></h6></li>
            <li class="collection-item">Position: "<%= @staff.position %>"</li>
            <li class="collection-item">Favorite Chuck Norris Joke: <%= @staff.quote %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
