        <div id="fourthSec">
            <div class="" id="containerFour">
              <h1 class="center">Staff</h1>
              <div class="row">
                <div class="col s12 m3">
                  <div class="card">
                    <div class="card-image">
                      <img src="images/michael.jpg">
                      <span class="card-title">Michael</span>
                    </div>
                    <div class="card-content">
                      <p>I am a very simple card. I am good at containing small bits of information.
                      I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                      <a href="/staff/michael" id="cardtitletext">Michael's Page</a>
                    </div>
                  </div>
                </div>
                <div class="col s12 m3">
                  <div class="card">
                    <div class="card-image">
                      <img src="images/asian_jim.jpg">
                      <span class="card-title black-text" id="cardtitletext">Asian Jim</span>
                    </div>
                    <div class="card-content">
                      <p>I am a very simple card. I am good at containing small bits of information.
                      I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                      <a href="/staff/asian-jim">Asian Jim's Page</a>
                    </div>
                  </div>
                </div>
                <div class="col s12 m3">
                  <div class="card">
                    <div class="card-image">
                      <img src="images/other_stephanie.jpg">
                      <span class="card-title" id="cardtitletext">Other Stephanie</span>
                    </div>
                    <div class="card-content">
                      <p>I am a very simple card. I am good at containing small bits of information.
                      I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                      <a href="/staff/other-stephanie">Other Stephanie's Page</a>
                    </div>
                  </div>
                </div>
                <div class="col s12 m3">
                  <div class="card">
                    <div class="card-image">
                      <img src="images/wizard.jpg">
                      <span class="card-title black-text" id="cardtitletext">Wizard</span>
                    </div>
                    <div class="card-content">
                      <p>I am a very simple card. I am good at containing small bits of information.
                      I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                      <a href="/staff/wizard">Wizard's Page</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
